<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, :class => "form-control" %>
    </div>

    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, :class => "form-control" %>
    </div>
    <%= form.hidden_field :rol_id => 2 %>
    <br>
    <% unless current_user.profile.nil? %>
      <% if current_user.profile.rol_id = 1 %>
        <%= f.collection_select :rol_id, Rol.all, :id, :name_rol, :prompt => true %>
      <% end %>
    <% end %>
    <div class="actions">
      <%= form.submit :class => "btn btn-primary my-3" %>
    </div>
  </div>
<% end %>
