<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, :class => "form-control" %>
    </div>

    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, :class => "form-control" %>
    </div>

    <div class="field">
      <%= form.label :currency_type_id %>
      <% unless profile.currency_type_id == 1 || profile.currency_type_id == 2 || profile.currency_type_id == 3 || profile.currency_type_id == 4 %>
        <div class="input-group">
          <select name="profile[currency_type_id]" id="profile_currency_type_id" class="custom-select">
            <option value="">Select currency</option>
            <% currencies.each do |c| %>
              <option value="<%= c.id %>"><%= c.name_currency %></option>
            <%end%>
          </select>
        </div>
      <% #else %>
      <% end %>
    </div>  
    <br>
    <div class="actions">
      <%= form.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
