<p id="notice"><%= notice %></p>
<% if @profile.user == current_user %>
	<p>
	  <strong>First name:</strong>
	  <%= @profile.first_name %>
	</p>

	<p>
	  <strong>Last name:</strong>
	  <%= @profile.last_name %>
	</p>

	<p>
	  <strong>Money:</strong>
	  <%= @profile.money %>
	</p>

	<%= link_to 'Edit', edit_profile_path(@profile) %> |
	<%= link_to 'Back', profiles_path %>
<% else %>
	<p>Usted no tiene permitido acceder a este perfil</p>
<% end %>