<p id="notice"><%= notice %></p>
<% if @profile.id == current_user.profile %>
	<p>
	  <strong>Nombre:</strong>
	  <%= @profile.nombre %>
	</p>

	<p>
	  <strong>Apellido:</strong>
	  <%= @profile.apellido %>
	</p>

	<p>
	  <strong>Dinero:</strong>
	  <%= @profile.dinero %>
	</p>

	<%= link_to 'Edit', edit_profile_path(@profile) %> |
	<%= link_to 'Back', profiles_path %>
<% else %>
	<p>Usted no tiene permitido acceder a este perfil</p>
<% end %>