<table class="table table-hover">
	<thead class="thead-dark">
		<tr>
			<th>First name</th>
			<th>Last name</th>
			<th>Bank</th>
			<th>Account type</th>
			<th>Avalaible money</th>
		</tr>
	</thead>
	<tbody>
		<% @bank_accounts.each do |account| %>
			<% if account.profile == current_user.profile %>
				<tr>
					<td><%= account.profile.first_name %></td>
					<td><%= account.profile.last_name %></td>
					<td><%= account.bank_type.name_bank %></td>
					<td><%= account.account_type.name_account_type %></td>
					<td><%= account.available_money %>  <%= account.currency.symbol %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>