<script>
	function imprimirValor(){
		var valor = document.getElementById("account_id").value;
		console.log(valor);
		$("hola").attr("value", "valor");
		var pag = "localhost:3000/transactions?account_id="+account_id;
//		location.href = pag;
//		location.reload();
		window.open("localhost:3000/transactions?account_id="+account_id);
		location.reload();
	}
</script>
<div class="row mx-3 my-3">
	<h3 class="col text-right">Filter by: </h3>
	<select name="account_id[]" id="account_id" class="custom-select col" onChange="imprimirValor()">
		<option value="" disable selected>Select account</option>
		<% @bank_accounts.each do |bank| %>
			<% if current_user.profile == bank.profile %>
				<option value="<%= bank.id %>" ><%= bank.bank_type.name_bank %> - <%= bank.account_type.name_account_type %> - ****<%= bank.account_number%10000 %></option>
			<% end %>
		<% end %>
	</select>
	<%= hidden_field :account_id, :id => "hola", :value => "" %>
	<%= link_to "send", transactions_path(:account_id), :class => "btn btn-primary col-1 mx-3" %>
</div>
<table class="table table-hover">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Inssuing user</th>
			<th scope="col">Receiving user</th>
			<th scope="col">Amount</th>
			<th scope="col">Balance</th>
			<th scope="col">Transaction type</th>
			<th scope="col">Transaction mode</th>
			<th scope="col">Date</th>
			<th colspan="7"></th>
		</tr>
	</thead>
	<tbody>
		<% @transactions.reverse_each do |transaction| %>
			<% if (transaction.inssuing_bank_account.profile == current_user.profile) || (transaction.receiving_bank_account.profile == current_user.profile) %>
				<% if @account.nil? %>
					<% if transaction.transaction_type_id == 1 || transaction.transaction_type_id == 2 %>
						<tr>
							<td><%= transaction.inssuing_bank_account.profile.user.email %></td>
							<td> -------------- </td>
							<td><%= transaction.amount_transaction %>  <%= transaction.inssuing_bank_account.currency.symbol %></td>
							<td><%= transaction.inssuing_bank_account_balance %>  <%= transaction.inssuing_bank_account.currency.symbol %></td>
							<td><%= transaction.transaction_mode_type.name_transaction_type %></td>
							<td><%= transaction.transaction_type.name_transaction  %></td>
							<td><%= transaction.created_at.in_time_zone("Caracas").to_formatted_s(:short) %></td>
						</tr>
					<% elsif transaction.transaction_mode_type_id == 3 && transaction.inssuing_bank_account.profile == transaction.receiving_bank_account.profile %>
						<tr>
							<td><%= transaction.inssuing_bank_account.profile.user.email %></td>
							<td><%= transaction.receiving_bank_account.profile.user.email %></td>
							<td><%= transaction.amount_transaction %>  <%= transaction.inssuing_bank_account.currency.symbol %></td>
							<td><%= transaction.inssuing_bank_account_balance %>  <%= transaction.inssuing_bank_account.currency.symbol %></td>
							<td><%= transaction.transaction_mode_type.name_transaction_type %></td>
							<td><%= transaction.transaction_type.name_transaction  %></td>
							<td><%= transaction.created_at.in_time_zone("Caracas").to_formatted_s(:short) %></td>
						</tr>
							<td><%= transaction.inssuing_bank_account.profile.user.email %></td>
							<td><%= transaction.receiving_bank_account.profile.user.email %></td>
							<td><%= transaction.amount_transaction %>  <%= transaction.inssuing_bank_account.currency.symbol %></td>
							<td><%= transaction.receiving_bank_account_balance %>  <%= transaction.receiving_bank_account.currency.symbol %></td>
							<td><%= transaction.transaction_mode_type.name_transaction_type %></td>
							<td>deposit</td>
							<td><%= transaction.created_at.in_time_zone("Caracas").to_formatted_s(:short) %></td>
						<tr>
						</tr>
					<% elsif transaction.inssuing_bank_account.profile.id == current_user.profile.id %>
						<tr>
							<td><%= transaction.inssuing_bank_account.profile.user.email %></td>
							<td><%= transaction.receiving_bank_account.profile.user.email %></td>
							<td><%= transaction.amount_transaction %>  <%= transaction.inssuing_bank_account.currency.symbol %></td>
							<td><%= transaction.inssuing_bank_account_balance %>  <%= transaction.inssuing_bank_account.currency.symbol %></td>
							<td><%= transaction.transaction_mode_type.name_transaction_type %></td>
							<td><%= transaction.transaction_type.name_transaction  %></td>
							<td><%= transaction.created_at.in_time_zone("Caracas").to_formatted_s(:short) %></td>
						</tr>
					<% else %>
						<tr>
							<td><%= transaction.inssuing_bank_account.profile.user.email %></td>
							<td><%= transaction.receiving_bank_account.profile.user.email %></td>
							<td><%= transaction.amount_transaction %>  <%= transaction.inssuing_bank_account.currency.symbol %></td>
							<td><%= transaction.receiving_bank_account_balance %>  <%= transaction.receiving_bank_account.currency.symbol %></td>
							<td><%= transaction.transaction_mode_type.name_transaction_type %></td>
							<td>deposit</td>
							<td><%= transaction.created_at.in_time_zone("Caracas").to_formatted_s(:short) %></td>
						</tr>
					<% end %>
				<% elsif transaction.inssuing_bank_account_id == @account.to_i || transaction.receiving_bank_account_id == @account.to_i %>>
					<tr>
						<% if transaction.transaction_type_id == 1 || transaction.transaction_type_id == 2 %>
							<td><%= transaction.inssuing_bank_account.profile.user.email %></td>
							<td> -------------- </td>
							<td><%= transaction.amount_transaction %>  <%= transaction.inssuing_bank_account.currency.symbol %></td>
							<td><%= transaction.inssuing_bank_account_balance %>  <%= transaction.inssuing_bank_account.currency.symbol %></td>
							<td><%= transaction.transaction_mode_type.name_transaction_type %></td>
							<td><%= transaction.transaction_type.name_transaction  %></td>
							<td><%= transaction.created_at.in_time_zone("Caracas").to_formatted_s(:short) %></td>
						<% elsif transaction.inssuing_bank_account.profile == current_user.profile %>
							<td><%= transaction.inssuing_bank_account.profile.user.email %></td>
							<td><%= transaction.receiving_bank_account.profile.user.email %></td>
							<td><%= transaction.amount_transaction %>  <%= transaction.inssuing_bank_account.currency.symbol %></td>
							<td><%= transaction.inssuing_bank_account_balance %>  <%= transaction.inssuing_bank_account.currency.symbol %></td>
							<td><%= transaction.transaction_mode_type.name_transaction_type %></td>
							<td><%= transaction.transaction_type.name_transaction  %></td>
							<td><%= transaction.created_at.in_time_zone("Caracas").to_formatted_s(:short) %></td>
						<% else %>
							<td><%= transaction.inssuing_bank_account.profile.user.email %></td>
							<td><%= transaction.receiving_bank_account.profile.user.email %></td>
							<td><%= transaction.amount_transaction %>  <%= transaction.inssuing_bank_account.currency.symbol %></td>
							<td><%= transaction.receiving_bank_account_balance %>  <%= transaction.receiving_bank_account.currency.symbol %></td>
							<td><%= transaction.transaction_mode_type.name_transaction_type %></td>
							<td>deposit</td>
							<td><%= transaction.created_at.in_time_zone("Caracas").to_formatted_s(:short) %></td>
						<% end %>
					</tr>
				<% end %> 
			<% end %>
		<% end %>
	</tbody>
</table>