<h1 class="dispaly-1 text-center">Choose a type of transaction</h1>
<div class="container">
	<% flash.each do |key, value| %>
	  <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
	    <p class="notice"><%= value %></p>
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	<% end %>
</div>
<%= render "style" %>
<%= form_for(@transaction) do |f| %>
	<div class="field" style="display: none" id="deposito">
		<%= f.hidden_field :transaction_type_id, :value => 1 %>
		<h3><%= f.label :amount, "Money to deposit:" %></h3>
		<%= render "form" %>
		<%= f.submit "Finish deposit", :class => "btn btn-primary" %>
	</div>
<% end %>
<%= form_for(@transaction) do |f| %>
	<div class="field" style="display: none" id="retiro">
		<%= f.hidden_field :transaction_type_id, :value => 2 %>
		<h3><%= f.label :amount, "Money to withdraw:" %></h3>
		<%= render "form" %>
		<%= f.submit "Finish withdraw", :class => "btn btn-primary" %>
	</div>
<% end %>
<%= form_for(@transaction) do |f| %>
	<div class="field" style="display: none" id="transferencia">
		<%= f.hidden_field :transaction_type_id, :value => 3 %>
		<h3><%= f.label :amount, "Money to transfer:" %></h3>
		<%= render "form" %>
		<%= f.hidden_field :inssuing_user_id, :value => current_user.id %>
		<h3><%= f.label :receiving_user_id, "Mail of the user to be transferred" %></h3>
		<% f.collection_select :receiving_user_id, User.all, :id, :email, :prompt => true %>
		<div class="input-group">
			<select name="transaction[receiving_user_id]" id="transaction_receiving_user_id" class="custom-select">
				<option value="">Select user</option>
				<% @users.each do |u| %>
					<% unless current_user == u || u.profile.nil? %>
						<option value="<%= u.id %>"><%= u.email %></option>
					<% end %>
				<% end %>
			</select>
		</div>
		<br>
		<%= f.submit "Finish transfer", :class => "btn btn-primary" %>
	</div>
<% end %>