<h1>Escoja un tipo de transaccion</h1>
<%= render "style" %>
<%= form_for(@transaction) do |f| %>
	<div class="field" style="display: none" id="deposito">
		<% #f.transaction_type_id = 1 %>
		<% #:inssuing_user_id => current_user.inssuing_user %>
		<% #:receiving_user_id => nil %>
		<h3><%= f.label :amount, "Dinero a depositar:" %></h3>
		<%= render "form" %>
		<%= f.submit "Finalizar deposito" %>
	</div>
	<div class="field" style="display: none" id="retiro">
		<h3><%= f.label :amount, "Dinero a retirar:" %></h3>
		<%= render "form" %>
		<%= f.submit "Finalizar retiro" %>
	</div>
	<div class="field" style="display: none" id="transferencia">
		<h3><%= f.label :receiving_user_id, "Correo del usuario a transferir" %></h3>
		<%= f.email_field :receiving_user_id, placeholder: "ejemplo@email.com" %>
		<h3><%= f.label :amount, "Dinero a transferir:" %></h3>
		<%= render "form" %>
		<%= f.submit "Finalizar transferencia" %>
	</div>
<% end %>