<%= render "style" %>
<input type="radio" name="transaction" onclick="accion(1)"> Deposito
<input type="radio" name="transaction" onclick="accion(2)"> Retiro
<input type="radio" name="transaction" onclick="accion(3)"> Transaccion

<div class="field" style="display: none" id="deposito">
	<%= form_for(@transaction) do |t| %>
		<%= t.label :tramite, "Monto a depositar: " %>
		<%= t.text_field :tramite, placeholder: "0.00" %><br>
		<%= t.submit "Hacer deposito" %>
	<% end %>
</div>

<div class="field" style="display: none" id="retiro">
	<%= form_for(@transaction) do |t| %>
		<%= t.label :tramite, "Monto a retirar: " %>
		<%= t.text_field :tramite, placeholder: "0.00" %><br>
		<%= t.submit "Hacer retiro" %>
	<% end %>
</div>

<div class="field" style="display: none" id="transaccion">
	<%= form_for(@transaction) do |t| %>
		<%= t.label :tramite, "Monto a transferir: " %>
		<%= t.text_field :tramite, placeholder: "0.00" %><br>
		<%= t.label :user_id, "Correo del usuario a transferir: " %>
		<%= t.email_field :user_id, placeholder: "nombre@ejemplo.com" %><br>
		<%= t.submit "Hacer transferencia" %>
	<% end %>
</div>