<!DOCTYPE html>
<html>
  <head>
    <title>Autentication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <% if current_user.profile.nil? %>
        <h1>Bienvenido <%= current_user.email %></h1> 
        <%= link_to 'Create profile', new_profile_path %>
      <% else %>
        <h1>Bienvenido <%= current_user.profile.nombre %></h1> 
        <%= link_to 'View profile', current_user.profile %>
      <% end %>
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete %> 
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
      <%= link_to 'Sing up', new_user_registration_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
